---
import BaseHead from '../../components/BaseHead.astro';
import EmbeddedAudio from '../../components/EmbeddedAudio.astro';
import { getAllPosts } from '../../lib/api';
import { Post } from '../../types';
import Footer from '../../components/Footer.astro';
import '../../styles/footnotes.css';
import '../../styles/custom.css';

export async function getStaticPaths() {
  const allDualPosts = await getAllPosts();
  const mixedPosts = allDualPosts.flatMap((dual) => [dual.en, dual.es]);
  return mixedPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props as { post: Post<'es'> };
---

<html lang={post.lang}>
  <head>
    <BaseHead />
  </head>
  <body
    class='flex flex-col items-center justify-center bg-graph-paper overflow-x-hidden'
  >
    <div class='w-176 h-176 absolute -left-96 top-128 sky-cloud'></div>
    <div class='w-176 h-176 absolute -left-128 top-60 sky-cloud'></div>
    <div class='w-176 h-176 absolute -right-128 top-176 sky-cloud'></div>
    <div class='w-176 h-176 absolute left-36 bottom-52 sky-cloud'></div>
    <div class='sticky w-screen p-6 top-0 z-10'>
      <a
        class='left-16 top-6 w-12 h-12 hover:bg-sky-50 cursor-pointer transition duration-100 flex justify-center items-center rounded-full text-gray-500 hover:text-gray-600 border-[0.5px] shadow-md bg-white'
        href='/posts'
      >
        <i class='fa fa-arrow-left text-xl'></i>
      </a>
    </div>
    <div
      class='flex flex-col min-h-screen prose mx-6 sm:mx-8 mt-6 md:mt-0 text-justify bg-white p-6 sm:p-8 pb-0 mb-10 border-[0.5px] rounded-xl max-w-3xl relative shadow'
    >
      <header class='mb-2 flex justify-start items-center'>
        <h1 class='text-3xl font-inter text-left'>{post.title}</h1>
      </header>
      <main class='grow'>
        <EmbeddedAudio trackId={post.soundcloudId} lang={post.lang} title={post.title} />
        <div class='mb-8' set:html={post.content}></div>
      </main>
    </div>
    <Footer page='/posts' small />
  </body>
</html>
