---
import BaseHead from './BaseHead.astro';
import SidebarLink from './SidebarLink.astro';

interface Props {
  page: string;
}

const { page } = Astro.props as Props;
---

<html lang='en'>
  <head>
    <BaseHead />
  </head>
  <body class='bg-gray-900 bg-gradient-to-b from-transparent to-indigo-500/20 bg-fixed'>
    <header
      class='px-8 py-5 bg-gray-900 border-b border-b-gray-700 flex justify-between items-center'
    >
      <div class='flex justify-start items-center ml-16'>
        <div class=''>
          <h1 class='text-3xl font-medium text-gray-400 -ml-16 lg:-ml-0'>
            Jason's Thoughts
          </h1>
          <p class='text-gray-600 italic mt-1 hidden lg:block'>
            While you have the light, believe in the light, that you may become sons of
            light.
          </p>
        </div>
      </div>
    </header>
    <div class='min-h-screen'>
      <label
        class='fa fa-bars mr-6 text-gray-600 text-3xl hover:text-gray-500 cursor-pointer transition duration-100 p-4 lg:-ml-4 absolute top-2 lg:top-5 left-8 -ml-40'
        for='nav-toggle'></label>
      <input type='checkbox' id='nav-toggle' class='hidden' />
      <nav
        class='sticky bg-gray-900 bg-opacity-95 lg:bg-transparent top-0 lg:h-screen lg:p-10 lg:py-12 sidebar lg:w-72 flex flex-row lg:flex-col justify-center lg:justify-start py-7 z-50 shadow-xl lg:shadow-none flex-wrap'
      >
        <SidebarLink page={page} to='/'>Posts</SidebarLink>
        <SidebarLink page={page} to='/about'>About</SidebarLink>
        <SidebarLink page={page} to='/contact'>Contact me</SidebarLink>
        <SidebarLink page={page} to='https://friendslibrary.com'
          >Friends Library
        </SidebarLink>
        <SidebarLink page={page} to='https://bibliatecadelosamigos.com'
          >Biblioteca de los Amigos
        </SidebarLink>
      </nav>
      <div class='flex-grow lg:-mt-[100vh] rest lg:ml-72'>
        <slot></slot>
      </div>
    </div>
  </body>
</html>
